{% assign pages = site.resources %}

<ul class="list-reset flex center">
    <li><a class="block border px3 m1 p1 h3" style="padding-top: 50px; padding-bottom: 100px; box-shadow: 7px 7px 0px rgba(0,0,0,.10); text-decoration: none; border: 1px dashed silver;" href="#">Content Strategy <br>Worksheet</a></li>
    <li><a class="block border px3 m1 p1 h3" style="padding-top: 50px; padding-bottom: 100px; box-shadow: 7px 7px 0px rgba(0,0,0,.10); text-decoration: none; border: 1px dashed silver;" href="#">Content Audit <br>Spreadsheet</a></li>
</ul>
