<div class="flex sans pt2 pb2" id="nav" style="line-height:1.5; align-items: flex-center;">
  <section class="mr-auto">
    <a href="/">Hire Casey</a><br>
    <a href="/about">About Me</a>
  </section>
  <section class="ml-auto mr-auto center">
    <a href="/projects-and-clients">Projects and Clients</a><br>
    <a href="/working-together">Working Together</a><br>
  </section>
  <section class="ml-auto">
    <a href="/opinions">Opinion Pages</a><br>
    <a href="/resources">Resources</a><br>
  </section>
</div>
