<h2>Design &amp; Development</h2>

<div class="flex">
  <div style="flex-grow:1;" class="p1">
    <div class="thumbnail">
      <div class="fake-browser-ui">
          <div class="frame">
              <span></span>
              <span></span>
              <span></span>
          </div>

          <a href=""><img src="/2017/img/aes.png" width="400" height="267" alt="..."></a>
      </div>

      <div class="caption">
        <h3><a href="">American Ethnological Society</a></h3>
        <p>A modern site for the oldest anthropological organization in the United States, which brings together their quarterly journal, juried competitions, conferences, and online content.</p>
      </div>
    </div>
  </div>
  <div style="flex-grow:1;" class="p1">
    <div class="thumbnail">
      <div class="fake-browser-ui">
          <div class="frame">
              <span></span>
              <span></span>
              <span></span>
          </div>

      <a href=""><img src="/2017/img/aplusa.png" width="400" height="267" alt="..."></a>
    </div>
      <div class="caption">
        <h3><a href="">Adaptation + Ability Group</a></h3>
        <p>Experimenting with the functionality and aesthetics of web accessibility in this open-source website for an academic research lab.</p>
      </div>
    </div>
  </div>

  <div style="flex-grow:1;" class="p1">
    <div class="thumbnail">
      <div style="flex-grow:1;" class="p1">
        <div class="thumbnail">
          <div class="fake-browser-ui">
              <div class="frame">
                  <span></span>
                  <span></span>
                  <span></span>
              </div>

              <a href="http://engineeringathome.org"><img src="/2017/img/engineeringathome.png" width="400" height="267" alt="..."></a>
          </div>

          <div class="caption">
            <h3><a href="http://engineeringathome.org">Engineering at Home</a></h3>
            <p>A 6-month long collaboration with anthropologist Caitrin Lynch and designer Sara Hendren, of Olin College, to produce an interactive archive that frames their academic research for a broad internet readership.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="flex">
  <div style="flex-grow:1;" class="p1">
    <h2>2-Day Sprint</h2>
    <div class="thumbnail">
      <a href="http://accessibleicon.org"><img src="/2017/img/accessibleicon.png" width="400" height="267" alt="..."></a>
      <div class="caption">
        <h3><a href="http://accessibleicon.org">Accessible Icon Project</a></h3>
        <p>In collaboration with Sara Hendren, redesigned the website of this widely-known design intervention, distilling it to a single page and foregrounding the project's story and manifesto.</p>
      </div>
    </div>
  </div>

  <div class="flex">
    <div style="flex-grow:1;" class="p1">
      <h2>Pair Programming</h2>
      <div class="thumbnail">
        <a href="http://multientry.com"><img src="/2017/img/multientry.png" width="400" height="267" alt="..."></a>
        <div class="caption">
          <h3><a href="http://multientry.com">Multi Entry</a></h3>
          <p>Pair-programmed with ethnographer Christina Xu, walking her through setting up her own site to document research into China's creative culture. Answered questions and solved problems together as they arose.</p>
        </div>
      </div>
    </div>
  </div>
</div>



<h2>Selected Projects</h2>

<div class="flex">
  <div style="flex-grow:1;" class="p1">
    <div class="thumbnail">
      <a href=""><img src="/2017/img/sarahendren.png" width="400" height="267" alt="..."></a>
      <div class="caption">
        <h3><a href="">Sara Hendren</a></h3>
        <p></p>
      </div>
    </div>
  </div>
  <div style="flex-grow:1;" class="p1">
    <div class="thumbnail">
      <a href=""><img src="/2017/img/inglettgallery.png" width="400" height="267" alt="..."></a>
      <div class="caption">
        <h3><a href="">Susan Inglett Gallery</a></h3>
        <p></p>
      </div>
    </div>
  </div>
  <div style="flex-grow:1;" class="p1">
    <div class="thumbnail">
      <a href=""><img src="/2017/img/brianfunck.png" width="400" height="267" alt="..."></a>
      <div class="caption">
        <h3><a href="">Brian Funck</a></h3>
        <p></p>
      </div>
    </div>
  </div>
</div>
<div class="flex">
  <div style="flex-grow:1;" class="p1">
    <div class="thumbnail">
    <a href="http://sfpc.io"><img src="/2017/img/sfpc.png" width="400" height="267" alt="..."></a>
      <div class="caption">
        <h3><a href="http://sfpc.io">School for Poetic Computation</a></h3>
        <p>Designed and developed the website for an independent art and technology school (where I also served as administrator). Built on Github and Jekyll, it's collaboratively maintained by faculty, staff, and students.</p>
      </div>
    </div>
  </div>
  <div style="flex-grow:1;" class="p1">
    <div class="thumbnail">
      <a href="http://marshelal.com"><img src="/2017/img/marshelal.png" width="400" height="267" alt="..."></a>
      <div class="caption">
        <h3><a href="http://marshelal.com">Marwa Helal</a></h3>
        <p>Designed and developed a website for New York-based writer Marwa Helal, migrating from Wordpress to Siteleaf, and extracting a backlog of content from PDFs.</p>
      </div>
    </div>
  </div>
  <div style="flex-grow:1;" class="p1">
    <div class="thumbnail">
      <a href="http://www.tomhealy.us"><img src="/2017/img/tomhealy.png" width="400" height="267" alt="..."></a>
      <div class="caption">
        <h3><a href="http://www.tomhealy.us">Tom Healy</a></h3>
        <p>Designed and developed a website for a writer and public speaker, featuring a custom taxonomy of writing.</p>
      </div>
    </div>
  </div>
</div>
